.container{
    display: flex;
    justify-content: space-evenly;
    border: 2px solid red;
}
.left{
    display: flex;
    justify-content: center;
    width: 45%;
}
.sidebar{
    display:flex;
    flex-direction: column;
    align-items: end;
    gap: 10px;
}
.sidebar img{
    width: 35%;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.detail{
    border: 2px solid black;
    width: 40%;
    padding: 20px;
}
.discount{
    text-decoration: line-through;
}
.detail button{
    width: 100%;
    padding: 10px;
}
.type{
    color: rgb(56, 211, 213);
}
h1{
    font-size: 32px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.sizes span{
    padding: 10px;
    width: 100px;
    text-align: center;
}
.sizes span:hover{
    background-color: #000;
    color: white;
}
.sizes{
    width: 60%;
    display: flex;
    justify-content: space-around;
    gap: 10px;
    border: 1px solid red;
}

